@import "../../../../styles.scss";

#app-content-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 100%;
}

.app-content-goals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, white, lightskyblue);
  height: 100%;
}

.goals-container-title {
  color: $primary-blue;
  text-transform: uppercase;
}

app-goal-card {
  width: 80%;
}

.app-content-goals-container {
  overflow-y: scroll;
  height: 100%;
  max-height: 100vh;
}

.goal-card-edit {
  margin-bottom: 5px;
}
