<div class="goal-card-container">
  <div class="goal-card-content">
    <div class="goal-card-title-container">
      <h3 *ngIf="!editMode">{{ goal.title }}</h3>
      <input
        *ngIf="editMode"
        class="goal-card-title-text"
        type="text"
        placeholder="TITLE"
        [(ngModel)]="goal.title"
      />
    </div>
    <div class="goal-card-content-container">
      <p *ngIf="!editMode">{{ goal.description }}</p>
      <textarea
        *ngIf="editMode"
        class="goal-card-content-text"
        rows="4"
        placeholder="Add some description"
        [(ngModel)]="goal.description"
      ></textarea>
      <p *ngIf="!editMode">
        Last Update: {{ lastUpdatedDate | date : "yyyy-MM-dd" }}
      </p>
    </div>
    <!-- <div class="goal-card-picture-container">
      <div *ngIf="editMode">
        <h4>Upload an image (optional):</h4>
        <input
          (change)="handleFileUpload()"
          accept=".jpg, .jpeg, .png"
          type="file"
          #fileInput
        />
      </div>
      <div *ngIf="!editMode"></div>
    </div> -->
    <h4 *ngIf="!editMode && parentGoals.length > 0">
      Parent: {{ showParentGoalTitle() }}
    </h4>
    <div
      *ngIf="editMode && parentGoals.length > 0"
      class="goal-card-parent-details-container"
    >
      <h4>Parent:</h4>
      <select
        class="goal-card-parent-details-select"
        [(ngModel)]="goal.parentId"
      >
        <option *ngFor="let goal of parentGoals" value="{{ goal._id }}">
          {{ goal.title }}
        </option>
      </select>
    </div>
    <h4>Tasks:</h4>
    <div *ngFor="let task of goal.tasks" class="goal-card-tasks-container">
      <div
        (click)="toggleComplete(task)"
        class="goal-card-task-completion-container"
      >
        <fa-icon
          *ngIf="task.isComplete"
          class="faCheck-style"
          [icon]="faCheck"
        ></fa-icon>
      </div>
      <p
        [ngClass]="{
          'goal-card-task-text-strikethrough': task.isComplete,
          'goal-card-task-text': !task.isComplete
        }"
      >
        {{ task.title }}
      </p>
    </div>
    <div class="goal-card-tasks-container goal-card-additional-task-container">
      <div class="goal-card-additional-task-text-container">
        <input
          class="goal-card-additional-task-text"
          type="text"
          [(ngModel)]="additionalTask"
        />
      </div>
      <div class="goal-card-additional-task-submit-button">
        <fa-icon
          class="faArrowRight-style"
          (click)="addTask()"
          [icon]="faArrowRight"
        ></fa-icon>
      </div>
    </div>
    <div *ngIf="editMode" (click)="postNewGoal()" class="add-goal-container">
      LET'S DO THIS!
    </div>
  </div>
</div>
