@import "../styles.scss";

#app-content-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  height: 100%;
}

.app-content-goals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, white, lightskyblue);
  border: 1px solid #4472c4;
  height: 100%;
}

.goals-container-title {
  color: $primary-blue;
  text-transform: uppercase;
}

app-goal-card {
  width: 80%;
}
